.container{
  position: absolute;
  left: 0;
  top: 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  padding: 25px 2.5%;
  border-bottom: 2px solid black;

  .logo{
    font-size: 2em;
  }

  .lista{
    display: flex;

    li{
      a{
        color: white;
        text-decoration: none;
        font-size: 1.8em;
        margin-left: 20px;
        position: relative;
        z-index: 1;

        &:before{
          content: '';
          position: absolute;
          
          bottom: -3px;
          left: 50%;

          width: 0;
          height: 3px;

          border-radius: 10px;
          background-color: lightgray;
          z-index: -1;
          transition: .3s;
        }

        &:hover:before{
          left: 10%;
          width: 80%;
        }
      }
    }
  }
}