.sobre{
  padding-top: 100px;
  height: calc(100vh - 100px);
  min-height: 720px;
  max-height: 1080px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    margin: 1em;
    font-size: 2em;
    font-weight: bold;
  }

  p{
    text-align: center;
    font-size: 1.5em;
  }

  img{
    margin-top: 2em;
    width: 450px;
  }
}